
export AUTH_SECRET='mysecret',
export VALID_ISSUERS='["https://api.topcoder-dev.com", "https://api.topcoder.com", "https://topcoder-dev.auth0.com/"]',
export AUTH0_URL='xxxx',
export AUTH0_CLIENT_ID='xxxx',
export AUTH0_CLIENT_SECRET='xxxx',

export DOCUSIGN_USERNAME='xxxx',
export DOCUSIGN_PASSWORD='xxxx',
export DOCUSIGN_INTEGRATOR_KEY='xxxx',
export DOCUSIGN_ASSIGNMENT_V2_TEMPLATE_ID='xxxx',
export DOCUSIGN_W9TEMPLATE_ID='xxxx',
export DOCUSIGN_W8BEN_TEMPLATE_ID='xxxx',
export DOCUSIGN_NDA_TEMPLATE_ID='xxxx',
export DOCUSIGN_AFFIDAVIT_TEMPLATE_ID='xxxx',
export ASSIGNMENT_TERMS_OF_USE_ID=db39ac76-612f-11ea-9c41-3c15c2e2c206,
export DOCUSIGN_CALLBACK_CONNECT_KEY='xxxx',
export DOCUSIGN_CALLBACK_FAILED_SUPPORT_EMAIL_ADDRESS='xxxx',
export DOCUSIGN_CALLBACK_FAILED_FROM_EMAIL_ADDRESS='xxxx',
export AGREE_FOR_DOCUSIGN_TEMPLATE='xxxx'
export AGREE_ELECTRONICALLY='xxxx'

export TC_EMAIL_ACCOUNT='xxxx',
export TC_EMAIL_PASSWORD='xxxx',
export TC_EMAIL_FROM='xxxx',
export TC_EMAIL_SECURED='true',
export TC_EMAIL_HOST='xxxx',
export TC_EMAIL_HOST_PORT='587'
